.main{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.question{
  width: 700px;
  padding-right: 25px;
  
}

.question > p {
  color: #abd1c6;
  font-size: 24px;
  line-height: 36px;
  font-weight: 600;
}

.buttonAJG{
  min-width: 200px;
  height: 65px;
  background-color: #f9bc60;
  color: #001e1d;
  border: 2px solid #001e1d;
  font-weight: bold;
}

.buttonAJG:hover{
  background-color: #001e1d;
  color: #f9bc60;
  border: 2px solid #001e1d;
}

.scoreText{
  color: #abd1c6;
  font-size: 24px;
  font-weight: 600;
  padding-top: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}