.timer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e16162;
    width: 500px;
    height: 80px;
    border: 2px solid #001e1d;
    position: absolute;
    top: 80px;
    border-radius: 18px;
}


.timerText{
    color: #001e1d;
    font-size: 18px;
    font-weight: 600;
    padding-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.timerRed{
    color: rgb(165, 50, 50)
}
